#section1{
    background-image: url(../images/slide1/jazz.jpg);
}

#section1 #slide1 {
    background-image: url(../images/slide1/music.jpg);
}

#section1 #slide2 {
    background-image: url(../images/slide1/Student-Life-Music-4.jpg);
}

#section2{
    background-image: url(../images/slide2/ATC24_1058.JPG);
}

#section2 #slide1 {
    background-image: url(../images/slide2/ATC24_1090.JPG);
}

#section2 #slide2 {
    background-image: url(../images/slide2/ATC24_1123.JPG);
}

#section3{
    background-image: url(../images/slide3/soccer1.jpg);
}

#section3 #slide1 {
    background-image: url(../images/slide3/soccer2.jpg);
}

#section3 #slide2 {
    background-image: url(../images/slide3/soccer3.jpg);
}

#section3 #slide3 {
    background-image: url(../images/slide3/soccer4.jpg);
}

#section4{
    background-image: url(../images/slide4/1.jpg);
}

#section4 #slide1 {
    background-image: url(../images/slide4/2.jpg);
}

#section4 #slide2 {
    background-image: url(../images/slide4/4.webp);
}

#section5 {
    background-image: url(../images/slide5/1.jpg);
}

#section5 #slide1 {
    background-image: url(../images/slide5/2.jpg);
}

#section5 #slide2 {
    background-image: url(../images/slide5/3.jpg);
}

#section1,
#section2,
#section3,
#section4,
#section5,
#slide1,
#slide2,
#slide3,
#slide4 {
    position: relative; 
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.25);
    background-position: center;
}

#section1::before,
#section2::before,
#section3::before,
#section4::before,
#section5::before,
#slide1::before,
#slide2::before,
#slide3::before,
#slide4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

/* #section1 h1,
#section2 h1,
#section3 h1,
#section4 h1,
#section5 h1 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: absolute;
    top: 50%;
    left: 17.5%;
    transform: translate(-50%, -50%);
    margin: 0; 
    width: 100%;
    height: 100%; 
    text-align: center; 
} */